.chat {
  margin: 0 auto;

  margin-bottom: 30px;
/*  border-bottom: 1px solid #14133c;*/  
  padding-top: 50px;

  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1020px) {
  .chat {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    width: 960px;
  }
}