.cc_banner-wrapper {
  z-index:9001;
  position:relative
}
.cc_container {
  width: 600px;
  margin: 0 auto;
}
.cc_container h4 {
  margin: 10px 0 5px
}
.cc_container .cc_btn {
  cursor:pointer;
  text-align:center;
  font-size:14px;
  transition:font-size 200ms;
  line-height:1em
}
.cc_container .cc_message {
  font-size:14px;
  transition:font-size 200ms;
  margin:0;
  padding:0;
  line-height:1.5em
}
.cc_banner-wrapper {
  height:0px
}
.cc_banner-squeeze {
  overflow:hidden;
  position:fixed;
  bottom:0;
  left:0;
  right:0
}
.cc_container {
  padding:15px 0;
}
.cc_container .cc_btn {
  padding:8px 10px;
  background-color:#f1d600;
  cursor:pointer;
  text-align:center;
  display:block;
  width:50%;
  margin-left:10px;
  float:right;
  max-width:115px
}
.cc_container .cc_message {
  display:block;
  margin-bottom: 1em
}
.cc_container .cc_more_info {
  background: rgba(93, 102, 115, 0.4) !important;
  margin-left: 0;
}
.cc_banner-squeeze {
  background: rgba(0,0,0,.9);
}
.cc_container {
  width: 960px;
  color:#fff;
  font-size:14px;
  font-family: 'Open Sans', sans-serif, Helvetica, Arial;
  box-sizing:border-box
}
.cc_container ::-moz-selection {
  color:#fff;
  text-shadow:none
}
.cc_container .cc_btn,.cc_container .cc_btn:visited {
  color:white;
  background-color:#5d6673;
  transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
  -webkit-transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
  border-radius:5px;
  -webkit-border-radius:5px
}
.cc_container .cc_btn:hover,.cc_container .cc_btn:active {
  background-color:white;
  color:black
}
.cc_container a,.cc_container a:visited {
  text-decoration:none;
  color:#31a8f0;
  transition:200ms color
}
.cc_container a:hover,.cc_container a:active {
  color:#b2f7ff
}
@-webkit-keyframes slideUp {
  0%{-webkit-transform:translateY(66px);transform:translateY(66px)}
  100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideUp {
  0%{-webkit-transform:translateY(66px);-ms-transform:translateY(66px);transform:translateY(66px)}
  100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
.cc_banner-squeeze,
.cc_message,.cc_btn{
  animation-duration:0.8s;
  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  -o-animation-duration:0.8s;
  -webkit-animation-name:slideUp;
  animation-name:slideUp
}
/* SQUEEZE */
@media(min-width: 660px) and (max-width: 1019px) {
  .cc_container {
    width: 600px
  }
}
@media(max-width: 659px) {
  .cc_container {
    width: 100%;
    padding: 10px 20px
  }
}
@media print {
  .cc_banner-wrapper,.cc_container {
    display:none
  }
}
