.header {
  width: 100%;
  color: white;
}
.header .wrapper {
  display: flex;
  height: 572px;
}
.header .container {
  margin: 0 auto;
}
.header .container h1,
.header .container p {
  width: 480px;
}
.header .checkmark-container {
  margin: 30px 0px;
}
.header .checkmark-container .checkmark {
  padding-bottom: 1em;
  background-image: url(../images/icon_checkmark.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.header .checkmark-container .checkmark .text {
  margin-left: 28px;
}
.header p {
  font-size: 16pt;
  font-weight: bold;
  line-height: 36px;
  margin: 16px 0;
}
