.openingHours {
    flex: 0 1 50%;
    margin: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-items: stretch;
    margin-top: 40px;
}

.openingHours-box {
    flex: 1;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
}

.openingHours-content {
    color: #FFF;
    font-size: 20px;
    margin: 16px;
}

.openingHours-icon img {
    margin-top: 16px;
    margin-left: 16px;
    width: 32px;
    height: 32px;
    padding-bottom: 0;
}

.openingHours-bigText {
    font-size: 30px;
}

.openingHours-action {
    margin-top: 10px;
    cursor: pointer;
}

.openingHours-hidden {
    opacity: 0;
    pointer-events: none;
    
}

.openingHours-topLine:not(:empty) + .openingHours-bottomLine:not(:empty) {
    margin-top: 10px;
}

#openingHoursChat {
    display: none;
}

@media only screen and (min-width: 768px) {
    .openingHoursContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 -10px;
    }

    #openingHoursChat {
        display: flex;
    }
}

@media only screen and (min-width: 768px) {
    #basechat_mainContainer {
        display: none;
    }
}