@font-face {
    font-family: 'Republic';
    src: url('font/Republic-Heavy.woff2') format('woff2'),
    url('font/Republic-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('font/Republic-DemiBold.woff2') format('woff2'),
    url('font/Republic-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('font/Republic.woff2') format('woff2'),
    url('font/Republic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('font/Republic-Bold.woff2') format('woff2'),
    url('font/Republic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('font/Republic-Light.woff2') format('woff2'),
    url('font/Republic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.quiz{
	color: #fff;
	background: #13113a;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

.quiz-content-header{
	padding-top: 30px;
}

.quiz-question.quiz-content-header h1{
	display:none;
}

.quiz-content-top{
	background: #fff;
	width: 200px;
	height: 20px;
	margin: 0 auto;
	border-radius: 60px;
}
.quiz-button{
	font-family: 'Republic';
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	padding: 8px 5px 5px 5px;
	text-transform: uppercase;
	border-radius: 3px;
	min-width: 60px;
}

.quiz-button-back{
	min-width: 100px;
	margin-right: 60px;
	background: #7D7D7D;
	border-color: #7D7D7D;
}
@media screen and (max-width: 350px) {
	.quiz-button-back{
		margin-right: 40px;
	}
}

.quiz-button-no{
	padding: 8px 5px 5px 5px;
	background: #96b4dc;
	border-color: #96b4dc;
	color: #13123A;
}

.quiz-button-yes,
.quiz-button-reset{
	background: #EC6C27;
	border-color: #EC6C27;
	margin-left: 2px;
}

.quiz-button-reset{
	min-width: 100px;
}

.quiz-content-top img{
	padding: 5px;
}

.quiz-explainer{
	font-size: 1.3em;
	padding: 0px;
}

.quiz h2, 
.quiz h3{
	padding-bottom: 10px;
	color: #fff;
	padding-top: 0;
}
.quiz-content-header h2{
    font-size: 2em !important;
}

.quiz p{
	font-size: 1em;
	color: #fff;
}

section.quiz-question.quiz-content-header {
    display: inline-flex;
	padding-top: 20px;
	min-height: 80px;
}

section.quiz-answer.quiz-content-footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.quiz-step {
	padding: 20px;
	border-radius: 13px;
 	border: 1px solid;
	margin-top: 20px;
}
