/* Reposition and resize video and shadeContainer */
@media(min-width: 1400px) {
  .shadeContainer,
  iframe#top-video {
    width: 100%;
    margin: 0 auto;
  }
  .shadeContainer {
    width: 1280px;
  }
}

@media(max-width: 1399px) and (min-width: 0px) {
  .shadeContainer {
    width: 100%;
  }
  iframe#top-video {
    width: 1280px;
  }
}


/* Reposition video START */

@media(max-width: 800px) and (min-width: 0px) {
  .shadeContainer {
    -ms-transform: translateX(0px) translateY(0%);
    -moz-transform: translateX(0px) translateY(0%);
    -webkit-transform: translateX(0px) translateY(0%);
    transform: translateX(0px) translateY(0%);
  }
}

@media(max-width: 1399px) and (min-width: 1000px) {
  .shadeContainer,
  iframe#top-video {
    -ms-transform: translateX(100px) translateY(0%);
    -moz-transform: translateX(100px) translateY(0%);
    -webkit-transform: translateX(100px) translateY(0%);
    transform: translateX(100px) translateY(0%);
  }
}

@media(max-width: 999px) and (min-width: 800px) {
  .shadeContainer,
  iframe#top-video {
    -ms-transform: translateX(40px) translateY(0%);
    -moz-transform: translateX(40px) translateY(0%);
    -webkit-transform: translateX(40px) translateY(0%);
    transform: translateX(40px) translateY(0%);
  }
}

@media(max-width: 799px) and (min-width: 660px) {
  iframe#top-video {
    -ms-transform: translateX(-10px) translateY(0%);
    -moz-transform: translateX(-10px) translateY(0%);
    -webkit-transform: translateX(-10px) translateY(0%);
    transform: translateX(-10px) translateY(0%);
  }
}

@media(max-width: 799px) {
  .shadeContainer {
    opacity: 0;
  }
}

@media(min-width: 800px) {
  .shadeContainer {
    opacity: 1;
  }
}

@media(max-width: 659px) and (min-width: 375px) {
  iframe#top-video {
    -ms-transform: translateX(-22%) translateY(0%);
    -moz-transform: translateX(-22%) translateY(0%);
    -webkit-transform: translateX(-22%) translateY(0%);
    transform: translateX(-22%) translateY(0%);
  }
}

@media(max-width: 374px) and (min-width: 0px) {
  iframe#top-video {
    -ms-transform: translateX(-34%) translateY(0%);
    -moz-transform: translateX(-34%) translateY(0%);
    -webkit-transform: translateX(-34%) translateY(0%);
    transform: translateX(-34%) translateY(0%);
  }
}

/* Reposition video END */
#backgroundContainer {
  background-image: url(../images/baggrund.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

#shadeContainer.image {
  width: 100%;
  transform: translateX(0px) translateY(0%);
}
