/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Republic';

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Republic';
    src: url('../font/Republic-Heavy.woff2') format('woff2'),
        url('../font/Republic-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('../font/Republic-DemiBold.woff2') format('woff2'),
        url('../font/Republic-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('../font/Republic.woff2') format('woff2'),
        url('../font/Republic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('../font/Republic-Bold.woff2') format('woff2'),
        url('../font/Republic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Republic';
    src: url('../font/Republic-Light.woff2') format('woff2'),
        url('../font/Republic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* -------------------------------
	Global
* -------------------------------*/

html,body {
	height:100%;
}

h1{
	font-family: 'Republic';
	font-size: 4em;
	font-weight: 900;
	font-style: normal;
	color: #fff;
}

h2{
	font-family: 'Republic';
	font-size: 1.5em;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
	font-weight: 900;
	font-style: normal;
	color: #13113a;
	text-transform: uppercase;
}

h3{
	font-family: 'Republic';
	font-size: 1.5em;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
	font-weight: 900;
	font-style: normal;
	color: #13113a;
	text-transform: uppercase;
}

p{
	font-family: 'Republic';
	font-size: 1em;
	font-weight: 300;
	font-style: normal;
	color: #13113a;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	line-height: 1.4em;
}

ul{
	line-height: 1.4em;
	padding-top: 0.5em;
  padding-bottom: 0.3em;
	padding-left: 15px;
}

li{
	font-family: 'Republic';
	font-size: 1em;
	font-weight: 300;
	list-style: square;
}


table{
	font-family: 'Republic';
	font-weight: 300;
}

th{
	padding-left: 12px;
	line-height: 1.4em;
}

.bold{
	font-family: 'Republic';
	font-weight: 600;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}

.btn{
	font-family: 'Republic';
	font-size: 2rem;
	font-weight: 600;
	margin-top: 40px;
	color: #fff;
	background: #13113a;
	border-color: #13113a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a4bde4;
		border-color: #a4bde4;
}

/* -------------------------------
	Scroll Down Button
* -------------------------------*/

a {
  color: white;
}
.footer a{
	text-decoration: underline;
}
.arrow {
  text-align: center;
  margin: 70px 0px 0px 0px;
}

a:hover{
	color: #ffffff;
	text-decoration: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* -------------------------------
	chat
* -------------------------------*/

.InnerContainer{
	width: 100% !important;
}

.chat {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1020px) {
  .chat {
    padding-left: 0;
    padding-right: 0;
    width: 960px;
  }
}

@media screen and (max-width: 700px) {

	#chat{
		margin-bottom: 0px;
	}

}

/* -------------------------------
	Frontpage
* -------------------------------*/

.frontpage-video-content {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
	height: 100%;
	text-align: center;
  padding: 20px;
}

.frontpageHero {
	position: relative;
	background-color: rgba(0,0,0,.2);
	height: 100vh; /* ie legacy */
	height: calc(100vh - 42px);
}

.frontpageHero-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frontpageHero-content {
	width: 100%;
	max-width: 768px;
}

.frontpageHero-title {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	
	font-size: 1.5em;
	font-weight: 900;
}

.frontpageHero-logo {
	display: block;
	margin: 0 auto;
	width: 10em;
	padding-top: 32px;
	padding-bottom: 40px;
}

.frontpageHero-video {
	position:fixed;
	z-index: -1;
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 0%;
	margin-left: -100px;
	height: calc(100vh - 42px);
}

@media only screen and (min-width: 401px) {
	.frontpageHero,
	.frontpageHero-video {
		height: 100vh;
	}
}

@media only screen and (min-width: 768px) {

	.frontpageHero-content {
		justify-content: center;
	}

	.frontpageHero-title {
		font-size: 4em;
		width: 100%;
		max-width: 600px;
	}

	.frontpageHero-logo {
		width: 20em;
	}

	.frontpageHero-video {
		z-index: -1;
		margin: 0px;
		padding: 0px;
		min-width: 100%;
		min-height: 100%;
	}
}

#overlay {
	background-color:rgba(0,0,0,.2);
	height:100%;
	width:100%;
}

#content {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#fff;
	z-index:1;
}

h2.number{
	padding-top: 0px;
}

/* -------------------------------
	Section-1
* -------------------------------*/

.col-lg-8{
	padding: 20px;
}

.col-lg-4{
	padding: 20px;
}

/* -------------------------------
	Section-2
* -------------------------------*/

.rofus{
	display: table;
	height: 400px;
	min-height:100%;
	background-image: url(../img/2.jpg);
  background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.behandling{
	display: table;
	height: 400px;
	min-height:100%;
	background-image: url(../img/1.jpg);
  background-size:cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.section-2 .btn{
	margin-top: 0px;
}

.section-2 h2{
	color: #fff;
}

.section-2 p{
	color: #fff;
}

.section-2 .align{
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	margin: 0 auto;
	display: table-cell;
  vertical-align: middle;
}

.section-2 .align .btn{
	font-size: 1em;
}

/* -------------------------------
	Footer
* -------------------------------*/

.contact{
	color: #fff;
	background-color: #13113a;
}

.contact h1{
	color: #fff;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 1.5em;
}

.footer{
	text-align: center;
	color: #fff;
	background: #13113a;
	display: inline-block;
}

.footer ul{
	padding: 40px 0px 40px 0px;
	display: inline-block;
}

.footer li{
	padding: 10px 10px 10px 10px;
	display: inline-block;
}

.contact h2{
	color: #fff;
	margin: 0px;
	padding-top: 15px;
	font-size: 1em;
}

.contact p{
	color: #fff;
}

/* -------------------------------
	Survey
* -------------------------------*/

#survey {
	background-color: rgba(150,180,220,1);
	border-radius: 50px;
	border: 1px solid white; 

	position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: 210;

    overflow: hidden;
}
#survey a {
	color: rgb(0,37,70);
	padding: 20px;
	display: block;
	float: left;
	line-height: 1.2em;
}
#survey .close-button{
	border: 0;
	background-color: rgba(150,180,220,1);
	margin: 0 20px;
	float: left;
	padding: 20px 10px;
	line-height: 1.2em;
}


/* -------------------------------
	Media Queries
* -------------------------------*/

@media screen and (max-width: 767px) {

#overlay {
    background-color: rgba(0,0,0,.2);
	height: 500px;
}

#survey {
	bottom: 65px;
    left: 10px;
    width: 300px;
    font-size: 90%;
}
#survey a{
	width: 73%;
}
#survey .close-button{
	margin-top: 18px;
}

.arrow.bounce {
    display: none;
}

	.quiz-content-header h1 {
    font-size: 1.5em !important;
}

.quiz-explainer p {
    font-size: 0.7em;
}

	h1{
		font-size: 1.5em;
	}

	section.quiz-question.quiz-content-header {
	    display: inline-flex;
			padding-top: 20px;
		  height: 110px;
	}
}

