---
import "../base.css";
import Survey from "../components/Survey.astro";
import Hero from "../components/Hero.astro";
import SectionBand from "../components/SectionBand.astro";
import SectionBoxes from "../components/SectionBoxes.astro";
import SectionInfo from "../components/SectionInfo.astro";
import SectionQuiz from "../components/SectionQuiz.astro";
import Footer from "../components/Footer.astro";
import Basechat from "../components/Basechat.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>StopSpillet - rådgivning om spilafhængighed</title>

    <script
      id="CookieConsent"
      src="https://policy.app.cookieinformation.com/uc.js"
      data-culture="DA"
      type="text/javascript"
      is:inline></script>

    <meta
      name="description"
      content="Hos StopSpillet får du: Professionel, uvildig rådgivning om ansvarligt spil og ludomani; Afklaring af problematisk spiladfærd; Vejledning om behandling."
    />
    <link rel="shortcut icon" type="image/png" href="/images/icon_crown.png" />
    <script is:inline>
      window.cookieconsent_options = {
        message:
          "<h4>Brug af cookies</h4>\nPå stopspillet.dk bruger vi cookies til at samle statistik, så vi kan forbedre din oplevelse på sitet. Du accepterer, når du klikker dig videre. ",
        learnMore: "L&aelig;s mere",
        link: "https://www.spillemyndigheden.dk/om-cookies",
        dismiss: "OK",
        theme: "dark-floating",
        target: "_blank",
      };
    </script>

    <script>
      if (location.hash) {
        const target = document.querySelector(location.hash);
        if (target) {
          requestAnimationFrame(() =>
            target.scrollIntoView({ behavior: "smooth" }),
          );
        }
      }
    </script>

    <script
      src=""
      data-category-consent="cookie_cat_statistic"
      data-consent-src="//assets.adobedtm.com/58ae824d9566/559d1c9e8419/launch-052159e4177b.min.js"
      async
      is:inline></script>
  </head>

  <body>
    <Survey />
    <Hero />
    <SectionInfo />
    <SectionBoxes />
    <SectionQuiz />
    <SectionBand />
    <Footer />
    <Basechat />
  </body>
</html>
