<script
  async
  src="https://phs.basechat.com/js/basechat-integration.js?winid=252705131975"
  is:inline></script>
<link
  type="text/css"
  rel="stylesheet"
  href="https://phs.basechat.com/custom/707507131956/entry_css/2/0/0/288073816443/1/stopspillet-fixed-div.css?v=1"
/>

<div class="basechat_fixed" id="basechat_fixed" style="display: block;">
  <div id="basechat_mainContainer" class="basechat_mainContainer">
    <div
      class="basechat_general_fixed basechat_chatClosed"
      id="basechat_chatClosed"
      onclick="basechat_fixedElementClick()"
      style="display: none;"
    >
      <div class="basechat_fixed_circle basechat_fixed_circle_red"></div>
      <div class="basechat_ChatClosedText1">Chatrådgivning</div>
      <div id="basechat_ChatClosedText2" class="basechat_ChatClosedText2">
        Åben i dag 12-15
      </div>
    </div>
    <div
      class="basechat_general_fixed basechat_chatOpen"
      id="basechat_chatOpen"
      onclick="basechat_fixedElementClick()"
      style=""
    >
      <div class="basechat_fixed_circle basechat_fixed_circle_green"></div>
      <div class="basechat_ChatOpenText1">Chat med os</div>
      <div class="basechat_ChatOpenText2"></div>
    </div>
  </div>
  <iframe
    src="https://phs.basechat.com/aspxIM/chat-contact.aspx?winid=504730131976"
    class="basechat_iframe"></iframe>
</div>
