<div class="container-fluid footer">
  <div class="container">
    <div class="col-lg-12">
      <ul>
        <li>Spillemyndigheden</li>
        <li>Englandsgade 25, 6. sal</li>
        <li>5000 Odense C</li>
        <li>mail@spillemyndigheden.dk</li>
        <li>CVR: 34730415</li>
      </ul>
      <p>
        <a href="https://www.was.digst.dk/stopspillet-dk" target="_blank"
          >Tilgængelighedserklæring</a
        >&nbsp;&nbsp;&nbsp;
        <a
          href="https://www.spillemyndigheden.dk/privatlivspolitik"
          target="_blank">Privatlivspolitik</a
        >&nbsp;&nbsp;&nbsp;
        <a href="cookie-policy.html">Cookiepolitik</a>
      </p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
