<footer class="bg-primary text-white">
  <div class="container py-10 space-y-10">
    <div class="text-center lg:flex gap-x-6 justify-center">
      <p>Spillemyndigheden</p>
      <p>Lerchesgade 35, 6</p>
      <p>5000 Odense C</p>
      <p>mail@spillemyndigheden.dk</p>
      <p>CVR: 34730415</p>
    </div>

    <ul class="font-light text-center md:flex gap-x-4 justify-center">
      <li>
        <a
          href="https://www.was.digst.dk/stopspillet-dk"
          target="_blank"
          class="underline hover:no-underline"
        >
          Tilgængelighedserklæring
        </a>
      </li>
      <li>
        <a
          href="https://www.spillemyndigheden.dk/privatlivspolitik"
          target="_blank"
          class="underline hover:no-underline"
        >
          Privatlivspolitik
        </a>
      </li>
      <li>
        <a href="/cookie-policy" class="underline hover:no-underline"
          >Cookiepolitik</a
        >
      </li>
    </ul>
  </div>
</footer>
