<div class="container-fluid section-2">
  <div class="row">
    <div class="col-lg-6 rofus">
      <div class="align">
        <h2>Vil du udelukkes fra spil?</h2>
        <p>
          Udeluk dig selv fra onlinespil og kasinoer i Spillemyndighedens
          Register Over Frivilligt Udelukkede Spillere (ROFUS). Nemt og
          fortroligt med NemID/MitID.
        </p>
        <a href="https://www.rofus.nu/" class="btn btn-primary"
          >Læs mere på rofus.nu</a
        >
      </div>
    </div>

    <div class="col-lg-6 behandling">
      <div class="align">
        <h2>Gratis behandling af spilafhængighed<br />(ludomani)</h2>
        <p>Se en oversigt over statsstøttede behandlingstilbud.</p>
        <a
          href="https://www.spillemyndigheden.dk/behandlingssteder"
          class="btn btn-primary">Find gratis behandling</a
        >
      </div>
    </div>
  </div>
</div>
