<div id="content">
  <div class="container section-1">
    <div class="row">
      <div class="col-lg-8">
        <h2>Hvad er StopSpillet?</h2>
        <p>
          StopSpillet er Spillemyndighedens hjælpelinje om spilafhængighed; i
          daglig tale kaldet ludomani. StopSpillet er for alle, der har brug for
          råd og vejledning om ansvarligt spil og spilafhængighed. Vores
          rådgivere sidder klar til at tale med dig. Sammen finder I ud af,
          hvilke muligheder du har, og hvordan du kommer videre.
        </p>
        <p>
          <a
            class="normal"
            href="https://www.spillemyndigheden.dk/stopspillet-hjaelpelinje-om-spilafhaengighed-ludomani"
            target="_blank"
            >Læs mere om StopSpillet på www.spillemyndigheden.dk</a
          >
        </p>
      </div>
      <h2>Fortrolige samtaler om ludomani</h2>
      <p>
        Når du kontakter StopSpillet er samtalen fortrolig mellem dig og
        rådgiveren. StopSpillets rådgivere er professionelle og uddannede til at
        rådgive og vejlede inden for ansvarligt spil og spilafhængighed.
        Spillemyndigheden videregiver ikke oplysninger fra samtalen til andre
        myndigheder.
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Tal med os</h2>
      <p class="bold">Hos StopSpillet kan du få:</p>
      <ul>
        <li>Professionel og uvildig rådgivning om ansvarligt spil</li>
        <li>Afklaring af problematisk spiladfærd</li>
        <li>Vejledning om behandlingsmuligheder</li>
      </ul>

      <p class="bold">Vi er klar til at chatte med dig</p>
      <table>
        <tr>
          <td style="width: 100px;">Mandag</td>
          <td style="width: 100px; text-align: right;">17.00 - 21.00</td>
        </tr>
        <tr>
          <td style="width: 100px;">Tirsdag</td>
          <td style="width: 100px; text-align: right;">17.00 - 21.00</td>
        </tr>
        <tr>
          <td style="width: 100px;">Onsdag</td>
          <td style="width: 100px; text-align: right;">17.00 - 21.00</td>
        </tr>
        <tr>
          <td style="width: 100px;">Torsdag</td>
          <td style="width: 100px; text-align: right;">17.00 - 21.00</td>
        </tr>
      </table>

      <p class="bold">Vi er klar til at tale med dig</p>
      <table>
        <tr>
          <td style="width: 100px;">Mandag-torsdag</td>
          <td style="width: 100px; text-align: right;">9.00 - 21.00</td>
        </tr>
        <tr>
          <td style="width: 100px;">Fredag</td>
          <td style="width: 100px; text-align: right;">9.00 - 17.00</td>
        </tr>
      </table>

      <p>Telefonnummeret er:</p>
      <a href="tel:70222825"><h2 class="number">70 22 28 25</h2></a>

      <div id="holidays">
        <p class="bold holidays-title" style="padding-bottom: 0;"></p>
        <p style="padding-top: 0;" class="holidays-excerpt"></p>
      </div>
    </div>
  </div>
</div>
