<div class="container section-1">
  <div class="row solid-box-container">
    <div class="col-lg-4">
      <a
        id="info-spillere"
        href="https://www.spillemyndigheden.dk/spiller"
        target="_blank"
        class="solid-box"
      >
        <h2>Spiller du for meget?</h2>
        <p>Lær at genkende de typiske tegn på ludomani</p>
        <div class="rofus-button">Information til spillere</div>
      </a>
    </div>
    <div class="col-lg-4">
      <a
        id="info-paaroerende"
        href="https://www.spillemyndigheden.dk/paaroerende"
        target="_blank"
        class="solid-box"
      >
        <h2>Kender du en spiller, som du er bekymret for?</h2>
        <p>Du kan støtte din pårørende på forskellige måder</p>
        <div class="rofus-button">Information til pårørende</div>
      </a>
    </div>

    <div class="col-lg-4">
      <a
        id="info-fagpersoner"
        href="https://www.spillemyndigheden.dk/fagperson"
        target="_blank"
        class="solid-box"
      >
        <h2>Arbejder du med en borger, der har et spilproblem?</h2>
        <p>Få gode råd til, hvordan du kan hjælpe</p>
        <div class="rofus-button">Information til fagpersoner</div>
      </a>
    </div>
  </div>
</div>
