<section class="grid lg:grid-cols-2 text-white">
  <div class="bg-[#4B596D] h-[400px] flex justify-center items-center">
    <div
      class="flex flex-col justify-center items-center text-center gap-y-4 mx-5 max-w-lg"
    >
      <h2 class="text-2xl uppercase font-bold leading-none">
        Vil du udelukkes fra spil?
      </h2>
      <p>
        Udeluk dig selv fra onlinespil og kasinoer i Spillemyndighedens Register
        Over Frivilligt Udelukkede Spillere (ROFUS). Nemt og fortroligt med
        NemID/MitID.
      </p>
      <a
        href="https://www.rofus.nu/"
        class="bg-primary py-1.5 px-3 rounded font-semibold hover:text-primary hover:bg-light transition-all"
        target="_blank"
      >
        Læs mere på rofus.nu
      </a>
    </div>
  </div>

  <div
    class="lg:col-start-2 bg-[#4C5F74] h-[400px] flex justify-center items-center"
  >
    <div
      class="flex flex-col justify-center items-center text-center gap-y-4 mx-5 max-w-lg"
    >
      <h2 class="text-2xl uppercase font-bold leading-none">
        Gratis behandling af spilafhængighed<br />(ludomani)
      </h2>
      <p>Se en oversigt over statsstøttede behandlingstilbud.</p>
      <a
        href="https://www.spillemyndigheden.dk/behandlingssteder"
        class="bg-primary py-1.5 px-3 rounded font-semibold hover:text-primary hover:bg-light transition-all"
        target="_blank"
      >
        Find gratis behandling
      </a>
    </div>
  </div>
</section>
