---
import "../../base.css";
---

<!doctype html>
<html lang="da">
  <head>
    <script
      id="CookieConsent"
      src="https://policy.app.cookieinformation.com/uc.js"
      data-culture="DA"
      type="text/javascript"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie politik</title>
    <link rel="stylesheet" href="css/style.css" />

    <style>
      a,
      a:hover,
      a:active,
      a:visited {
        color: #13113a;
      }
    </style>
  </head>
  <body style="background-color: #fff; margin: 0 2rem;" class="prose">
    <script
      id="CookiePolicy"
      src="https://policy.app.cookieinformation.com/cid.js"
      data-culture="DA"></script>

    <div id="cookie-overlay">
      <div id="cicc-template"></div>
    </div>
  </body>
</html>
